body {
	background: black url("../media/Sunrise.jpg") no-repeat center top;
	width: 64%;
	margin: auto;
}
h1 {
	font-size: 150px;
	color: #FFC857;
	text-shadow: 0px 15px 20px black;
	padding: 1px 1px 1px 1px;
	margin: 1px 1px 1px 1px;
	
}
h2 {
	color: #FFC857;
	text-align: center;
	text-shadow: 2px 2px 7px black;
	max-width: 300px;
	margin: 50px 0px 0px 0px;
}
ul li {
	display: block;
	list-style: none;
	float:left;
	text-align:left;
}
ul {
	display: block;
	min-width: 1100px;
	min-height: 100px;
	margin: 50px 50px 50px 50px;
	padding: 50px 50px 50px 50px;
}