body {
	background: black url("../media/Sunrise.jpg") no-repeat center top;
}
h1 {
	font-size: 150px;
	color: #FFC857;
	text-align: center;
	text-shadow: 0px 15px 20px black;
}
h2 {
	color: #FFC857;
	text-align: center;
	text-shadow: 2px 2px 7px black;
}