body {
	background: black url("../media/mountainrange.png") no-repeat right bottom;
}
h1 {
	font-size: 36px;
}
hr {
	border: 1px solid #FFC857;
	margin: 5px 0px 5px 0px;
}
section {
	background-color: rgba(0, 0, 0, 75%);
}
article {
	padding: 2px 10px 30px 10px;
}
#professionalPhoto {
	float: right;
}
#namePhoto {
	text-align: right;
}