body {
	background: black url("../media/YellowKayak.png") no-repeat right bottom;
}
h1 {
	text-shadow: 2px 2px 4px #111111;
}
article.funText {
	margin: 0px 0px 0px 0px;
	min-height: 50px;
}
ul.funWord {
	font-size: 40px;
}
#funWordIm{
	font-size: 35px;
}
#funWordEthan {
	font-size: 60px;
}
#funWordLittle{
	font-size: 60px;
}
#LinLittle{
	margin-left: 15px;
}