body {
	background: black url("../media/LinvilleFall.jpg") no-repeat center;
}
h1 {
	font-size: 36px;
	color: #FFC857;
}
h2 {
	color: #FFC857;
}
hr {
	border: 1px solid #FFC857;
}
article {
	padding: 2px 10px 30px 10px;
	background-color: rgba(0, 0, 0, 75%);
}
article section{
	text-align: center;
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	min-width: 961px;
}
article section img{
	vertical-align: middle;
	max-height: 280px;
	max-width: 300px;
	min-height: 200px;
}
.buttonImage {
	width: 50px;
	height: 170px;
}
button {
	background-color: rgba(0, 0, 0, 0%);
	border-width: 0px;
	vertical-align: bottom;
}
#ytprevButton, #ytnextButton {
	margin: 131px 10px 131px 10px;
}
#ccfprevButton, #ccfnextButton {
	margin: 51px 10px 51px 10px;
}
button:focus {
    outline: black auto 0px;
}
p {
	padding: 2px 10px 2px 10px;
	font-size: 16px;
} 

